.home {
  display: grid;
  grid-template-columns: [line-start] 30% [line2] auto [line3] 30% [line-end];
  grid-template-rows: [row-start] 40% [row-2] auto [row-end];
}

.home .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row-start;
}

h1 {
  font-family: Orbitron;
  font-size: 1.2em;
  color: #0B70D7;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 2px;
}

h1:after {
  content: "";
  display: block;
  width: 480px;
  height: 3px;
  background: black;
  margin: 5px auto;
}

.content {
  display: flex;
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row2;
  grid-row-end: row-end;
  margin: 20px 30px 0 30px;
}

.profile {
  flex-basis: 20%;
  margin: 0 25px 0 10px;
}

.photo {
  border-radius: 50%;
  border: 3px solid #0B70D7;
  width: 150px;
  height: 150px;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  font-size: 28px;
  width: 30px;
  height: 30px;
  color: #0B70D7;
}

.about p, .home p, .header p {
  font-family: Orbitron;
  font-size: 1em;
  color: #000;
  margin: 0 10px 0 10px;
  padding: 0;
  letter-spacing: 1px;
  line-height: 150%;
  word-spacing: 2px;
}

.next-page-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row-3;
  grid-row-end: row-end;
}

.previous-page-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-column-start: line-start;
  grid-column-end: line2;
  grid-row-start: row-3;
  grid-row-end: row-end;
}

.chevron-right-icon, .chevron-left-icon {
  font-size: 48px;
  color: #0B70D7;
}