.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: Orbitron;
  font-size: 1.2em;
  color: #0B70D7;
  text-align: center;
  margin-top: 5px;
}

h1:after {
  content: "";
  display: block;
  width: 480px;
  height: 3px;
  background: black;
  margin: 5px auto;
}